[class^='nova-'] {
  box-sizing: border-box;
}

.md-icon {
  vertical-align: top;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  svg {
    vertical-align: top;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

.nova-trap {
  position: absolute;
}
